
	
	<body class="">

		<!-- Wrapper -->
			<div id="wrapper">
                
                <a href="/home/login"><img src="./assets/css/images/lock-solid.svg" style="float: right; width: 20px; margin-top: 3%;"/></a>
                
				<!-- Header -->
					<header id="header" class="alt">
                        
						<span class="logo"><img src="./assets/css/images/meinelogo.png" alt="Logo" style="width: 50%;" /></span>
						<h2>Take control of your ratings</h2>
					</header>

				<!-- Nav -->
					<nav id="nav">
						<ul>
							<li><a (click)="scrollToSection('improve')" class="active">Improve</a></li>
							<li><a (click)="scrollToSection('control')">Control</a></li>
							<li><a (click)="scrollToSection('customers')">Our customers</a></li>
							<li><a (click)="scrollToSection('aboutus')">About us</a></li>
                            <li><a href="/home/login">Login</a></li>
						</ul>
					</nav>

				<!-- Main -->
					<div id="main" #mainContent>

						<!-- Introduction -->
							<section id="improve" class="main">
								<div class="spotlight">
									<div class="content">
										<header class="major">
											<h2>Improve your Google ratings</h2>
										</header>
										<p>Increase your value-creating Google reviews. Win more customers with positive reviews and get direct feedback from your customers. Omnisensa filters your reviews before it's too late.</p>
										<ul class="actions">
											<li><a href="/home/login" class="button">Try it</a></li>
										</ul>
									</div>
									<span class="image"><img src="./assets/css/images/pic01.png" alt="" /></span>
								</div>
							</section>

						<!-- First Section -->
							<section id="control" class="main special">
								<header class="major">
									<h2>Products & Service</h2>
								</header>
								<ul class="features">
									<li>
										<span class="icon solid major style1 fa-code"></span>
										<h3><b>Omnisensa</b></h3>
                                        <h4><u>Your feedback IT solution</u></h4>
										<p>Filter and boost your Google reviews to attract more customers.</p>
									</li>
									<li>
										<span class="icon major style3 fa-copy"></span>
										<h3><b>Feedback management</b></h3>
                                        <h4><u>Your Feedback Management Team</u></h4>
										<p>For more customer loyalty, manage your public reviews on all platforms.</p>
									</li>
								</ul>
								
							</section>

						<!-- Second Section -->
							<section id="customers" class="main special">
								<header class="major">
									<h2>What our customers say about us</h2>
								</header>
								<ul class="features">
									<li>
										<span><img src="./assets/css/images/mabe.png" alt="mabe" style="width: 50%;" /></span>
										<h3>Since implementing Omnisensa, we have received significantly more Google reviews, which has helped attract new customers to our café. What I appreciate most about working with Omnisensa was their sincere commitment to customizing the solution to our concept!
                                            </h3>
                                            <footer class="major">
                                                Eren<br/>Cafe MaBe
                                            </footer>
									</li>
									<li>
										<span><img src="./assets/css/images/kono.png" alt="kono" style="width: 50%;" /></span>
										<h3>With Omnisensa, we were finally able to offer our guests a platform to give personal feedback. Thus, we continued to optimize the experience and satisfaction for our guests. Omnisensa not only customized the solution to my wishes, but also gave us honest advice on potential improvements.
                                            </h3>
                                            <footer class="major">
                                                Stevan Hoang<br/>Korean Steakhouse
                                            </footer>
									</li>
								</ul>
                                
							</section>

						<!-- Get Started -->
							<section id="aboutus" class="main special">
								<header class="major">
									<h2>A little bit about us</h2>
									<p>We strive for "Improvement by Connecting" connection. Our mission is to improve our customers' business by providing them with direct feedback from their own customers.</p>
								</header>
                                <ul class="features">
									<li>
										<span class="image"><img src="./assets/css/images/an.png" alt="An" /></span>
										<h2><b>An Do</b></h2>
                                        <p>Co-CEO</p>
									</li>
									<li>
										<span class="image"><img src="./assets/css/images/ricardo.png" alt="Ricardo" /></span>
										<h2><b>Ricardo da-Silva</b></h2>
                                        <p>Co-CEO</p>
									</li>
								</ul>
								<footer class="major">
									<ul class="actions special">
										<li><a (click)="scrollToSection('header')" class="button primary">↑</a></li>
									</ul>
								</footer>
							</section>
                        

					</div>

				<!-- Footer -->
					<footer id="footer">
						
						<section>
							<h2>Omnisensa</h2>
							<dl class="alt">
								<dt>Address</dt>
								<dd>Munich</dd>
								<dt>Phone</dt>
								<dd><a href="tel:+49 176 56713005">+49 176 56713005</a></dd>
								<dt>Email</dt>
								<dd><a href="mailto:omnisensa@gmail.com">omnisensa@gmail.com</a></dd>
							</dl>
							<ul class="icons">
								<li><a href="#" class="icon brands fa-twitter alt"><span class="label">Twitter</span></a></li>
								<li><a href="#" class="icon brands fa-facebook-f alt"><span class="label">Facebook</span></a></li>
								<li><a href="#" class="icon brands fa-instagram alt"><span class="label">Instagram</span></a></li>
								<li><a href="#" class="icon brands fa-github alt"><span class="label">GitHub</span></a></li>
								<li><a href="#" class="icon brands fa-dribbble alt"><span class="label">Dribbble</span></a></li>
							</ul>
						</section>
					</footer>

			</div>

		

	</body>

